@charset "ISO-8859-1";
*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.header-khoi-sp {
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 10px;
}

select {
    color: #727272;
    border-radius: 3px;
}

.header-khoi-sp .sort {
    color: #727272;
}

label.label-select {
    margin-right: 4px;
}

.sort .sap-xep {
    margin-left: 17px;
}

.header-khoi-sp .tag, .header-khoi-sp .sort {
    margin: 10px 20px 0 15px;
}

.header-khoi-sp label {
    font-size: 13px;
}

.header-khoi-sp a {
    font-size: 13px;
    margin: 0 3px 0 3px;
    color: #F5A623;
}

.page-content h1.header {
    font-size: 20px;
    font-weight: 400;
}
/* .duoinavbar  */
.duoinavbar{
    background-color:#CF111A ;
}

.benphai.float-right {
    line-height: 40px;
    font-size: 14px;
}

.noidungheader {
    padding-top: 8px;
    padding-left: 14px;
}

.categoryheader {
    height: 40px;
    background-color: #aa1318;
}

.duoinavbar .container .row {
    height: 40px;
}

.duoinavbar {
    height: 40px;
}

.hotline{
    display: inline-block;
    position: relative;
    margin-right: 11px;
}

.hotline:after{
    content:"|";
    position: absolute;
    color:white;
    top: -1px;
    right: -10px;
    font-size: 22px;
}

.benphai a{
    color: white;
}
/* het css .duoinavbar  */

/* css category  */
.categorycontent{
    border: 1px solid #b4b2b2;
    box-sizing: border-box;
    height: 387px;
    margin-top: 8px;
    position: relative;
    z-index: 10;
    background: white;
}

.categorycontent ul{
    list-style: none;
    background: white;
}

.categorycontent > ul > li:hover{
    background-color: #CF111A;
    cursor: pointer;
}

.categorycontent > ul > li:hover > a{
    color:white;
}

.categorycontent ul li:hover i.fa.fa-chevron-right{
    color:white;
}

.categorycontent > ul > li{
    border-bottom: 1px solid #f8e1e1;
    height: 35px;
}

.categorycontent > ul > li:last-child{
    border-bottom: none
}

.categorycontent  ul  li  a{
    line-height: 35px;
    padding-left: 16px;
    font-weight: 400;
    font-size: 13px;
}

.categorycontent ul li ul{
    display: none;
    height: 387px;
    width: 750px;
    border: 1px solid #d1d1d1;
    position: absolute;
    z-index: 99;
    top: -1px;
    left: -16px;
    margin-left: 270px;
    box-shadow: 0px 1px 3px #e7dddd;
    background-color: white;
}

.categorycontent ul li ul:hover{
    cursor: auto;
}

.categorycontent ul li a{
    text-decoration: none;
    color: black;
}

.categorycontent ul li:hover ul{
    display:block;

}

ul i.fa.fa-chevron-right{
    font-size: 10px;
    color: #d1d1d1;
    line-height: 35px;
    padding-right: 20px;
}
/* het css category  */

/* danhmucan */

.categorycontent ul li ul li:first-child{
    margin-top: 3px;
}

.categorycontent ul li ul li.liheader{
    margin-top: 16px;
}

ul li a.header{
    font-size: 15px;
    padding-left: 33px;
    color: #CF111A;
}

.categorycontent ul li ul .content{
    float:left;
    margin-left: 19px;
    width: 300px;
    height: 265px;
}


.categorycontent ul li ul .content.phai{
    margin-left: 100px;
}


.categorycontent ul li ul .content li a:hover{
    color: #F5A623;
}

.categorycontent{
    display: none;
}

.categoryheader:hover .categorycontent{
    display: block;
}
/*het danhmucan */

.account-page-tab-content .nav-tabs .nav-link {
    border-radius: 0;
}

.account-page-tab-content a.nav-link {
    margin-left: 0;
}

.account-page-tab-content .nav-tabs .nav-item.active {
    color: black;
    border-top: 4px solid #F5A623;
}

.account-page-tab-content .nav-tabs a {
    color: gray;
}

.button-capnhat {
    background: linear-gradient(#f8c168,#ffa142);
    color: white;
    font-weight: 500;
    padding: 7px 15px 7px 15px;
}
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

.donhang-table table th {
    font-weight: 500;
    background: #cecece;
}

h3.account-header {
    color: #9d9d9d;
    font-size: 18px;
}